// Colors

$main-dark-bg: #f0f2f5;
$main-light-bg: #ffffff;
$main-font-clr: #3b4a54;
$main-green-clr: #00a884;
$highlight-green-clr: #25d366;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;